html {
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  position: relative;
}
section {
  padding: 90px 15px;
}

.content {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
}
.site-header .nav-logo img {
  max-width: 250px;
  height: auto;
  margin-right: 10px;
}
.site-header .nav-links ul li {
  list-style: none;
  display: inline-block;
}
.site-header .nav-links ul li a {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 400;
  color: #31352E; 
  letter-spacing: 1.2px;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  margin: 0 10px;
}
.site-header .nav-links ul li:hover {
  background-color: #D8DDB8;
}
.hamburger img {
  display: none;
}
.banner {
  padding: 150px 15px;
  background-image: linear-gradient(160deg, #FFFFFF 0%, #D1E2C4 60%);
  text-align: center;
  color: #31352E;
  text-transform: uppercase;
}
.banner .content h2{
    text-transform: lowercase;
    color: #778A35;
}
.banner .banner--content {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
}
#education {
  background-color: white;
}

.timeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#education{ 
  text-align: center;
  padding-bottom: 200px;
  }
#education h2 {font-family: verdana;
  font-size: 2rem;
  color: #4C411A;
  padding-top: 0;
}
p {font-style: italic;}
.timeline {
  max-width: 1200px;
  max-height: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.event {

  padding-top: 40px;
  padding-bottom: 40px;
  width: calc(33.33% - 30px);
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.event::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #A4AA83;
  position: absolute;
  top: 1px;
  left: calc(50% - 10px);
 
}
.event::after {
  content: "";
  height: 40px;
  border-left: 4px solid #A4AA83;
  position: absolute;
  top: 10px;
  left: calc(50% - 1px);
}

#skills h2 {font-family: verdana;
  font-size: 2rem;
  color: #4C411A;
  padding-top: 0;
  text-align: center;
}
#skills {background-image: linear-gradient(-160deg, #B9C8BC 0%, #FFFFFF 60%);}
#skills p {font-size: 1.25rem }
.skills-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
}

.skill-item {
  width: 23%;
  text-align: center;
  margin-bottom: 60px;
}

.skill-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #31352E;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
}

.skill-circle i {
  font-size: 3.125rem;
  color: #31352E;
}
.research {
  background-image: url('images/research.png');
    background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 70%;
}
.skill-item :hover{
  background-color: #F3EED9 ;
}
.tri {
  background-image: url('images/tri.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 70%;

}
.lab {
  background-image: url('images/lab.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 70%;

}
.bio {
  background-image: url('images/bio.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 70%;


}
}

.skill-item h3 {
  font-size: 1.25rem;
  color: #31352E;
  margin-bottom: 10px;
}

.skill-item p {
  font-size: 1rem;
  color: #778A35;
}

#portfolio h2 {font-family: verdana;
  font-size: 2rem;
  color: #4C411A;
  position: relative;
  top: 0;
  text-align: center;
}

#portfolio p {
  font-size: 1.75rem;
  text-align: center;
}
#portfolio {
  padding: 1px 30px;
  padding-bottom: 30px;
}
.portfolio-container {
padding-top: 1%;
  height: 100%; 
  width: auto;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 20%;
}

.portfolio-container img {
  display: inline-block;
  max-height: 100%;
  width: 100%;
  margin-right: 5%;
  margin-left: 5%;
  transition: all 0.2s ease-in-out;
  object-fit: fill; 
  object-position: center; 
}
.portfolio-container img:hover {
  transform: scale(1.8); 
}
#contact h2 {font-family: verdana;
  font-size: 2rem;
  color: #4C411A;
  padding-top: 0;
  text-align: center;
}
#contact p {text-align: center;
font-size: 1.25rem;}
#contact ul {text-align: center;
  font-size: 1.25rem;
}
#contact form {text-align: center;}
#contact {
padding: 10px 5px;
  background-image: linear-gradient(190deg, #D6C18A 0%, #FFFFFF 80%);}

.social-share {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50vh;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media screen and (min-width: 768px) {
  .social-share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-share a {
  width: 50px;
  height: 50px;
  background-color: #B9C8BC;
  border: 1px solid #3A6A59;
  -webkit-transition: background-color 0.8s ease-in;
  transition: background-color 0.8s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-share a img {
  max-width: 50%;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.social-share a:hover {
  background-color: #3A6A59;
}


@media screen and (max-width: 768px ) {
  h2 {
    font-size: 2.5rem;
    color: black;
    font-weight: 400;
  }
}

img {
  max-width: 20%;
  height: auto;
}

.center {
  text-align: center;
}


#about .content h2 {
  text-align: center;
  font-family: verdana;
  font-size: 2rem;
  color: #4C411A;
  padding-top: 0;
}
#about .content p {

font-size: 1.25rem;}


#about .about-container {
  display: block;
}

@media screen and (min-width: 768px) {
  .hamburger {display: none;}
  #about .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#about .about-container-left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  background: #B9C8BC;
  padding: 30px 15px;
}

#about .about-container-left li {
  font-style: italic;
  line-height: 1.5;
}

#about .about-container-right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background: #B9C8BC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#about .about-container-right img {
  max-width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  max-width: 100%;
  height: auto;
}


@media screen and (min-width: 1200px) {
  #about .about-container-right img {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}
@media only screen and (max-width: 768px) {
  section {
    padding: 60px 15px;
  }
  .site-header .nav-logo img {
    max-width: 200px;
    margin-right: 5px;
  }
  .site-header .nav-links ul li {
    display: block;
    margin-bottom: 10px;
  }
  .site-header .nav-links ul li a {
    font-size: 16px;
    margin: 0;
    padding: 5px 0;
  }
  .banner {
    padding: 120px 15px;
  }
  .banner .content h1{font-size: 25px;}
  .banner .content h2 {
    font-size: 20px;
  }
  .banner .banner--content {
    max-width: 90%;
    margin-top: 30px;
    background-size: 120px;
  }
  .timeline {
    max-height: none;
    margin-bottom: 60px;
  }
  .event {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 8%;
  }
  .event::before {
    width: 12px;
    height: 12px;
    top: -6px;
    left: calc(50% - 6px);
  }
  .event::after {
    height: 20px;
    top: 4px;
    left: calc(50% - 2px);
  }
  #skills h2 {
    font-size: 30px;
  }
  .skill-item {
    width: 48%;
    margin-bottom: 40px;
  }
  .skill-item:nth-child(even) {
    margin-left: 4%;
  }
  #portfolio p {font-size: 1.25rem;}
}
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__toggle.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  .navbar__toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .navbar__toggle.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -6px);
  }
}

